%h1 nations

:css
  #donate:link {
  border-style: solid;
  border-width : 1px 4px 4px 1px;
  text-decoration : none;
  padding : 2px;
  border-color : #69f #00f #00f #69f;
  }
  #donate:hover { border-color: #ccc; }

%div#industry_nav
  - %w(information sponsors donate).each do |name|
    = link_to name.upcase, name, :id => "industry-#{name}", :class => 'industry-nav-link'

#donation-info
  %p
    Thank you for considering donating to IEEE! To continue, please click
    %a{:id => "donate"}= link_to 'HERE', { :controller => 'donations', :action => 'new' }, :id => "donate"
